<article class="pink blog">
  <aside class="post-type-author">
    <ul>
      <li><a class="post-icon" href="#"><span class="entypo">&nbsp;</span></a></li>
      <li><span class="arrow left">&nbsp;</span></li>
      <li><a href="#" class="avatar"><%= image_tag('avatar.jpg', alt: 'Avatar', class: 'avatar') %></a></li>
    </ul>
  </aside>
  <section>
    <header>
      <h1><a href="#">Responsive Design Considerations</a></h1>
      <h6>by <a href="#">Justin Bellefontaine</a> | October 30, 2012 </h6>
    </header>
    <p>Responsive design is becoming more and more popular in the web industry. The reason for this is that nearly 60% of all web traffic is now done through mobile devices such as smart phones, tablets and e-readers.</p>
    <ul class="tags">
      <li><a href="#"><span class="start"><em>&nbsp;</em></span>Design<span class="end"><em>&nbsp;</em></span></a></li>
      <li><a href="#"><span class="start"><em>&nbsp;</em></span>CSS<span class="end"><em>&nbsp;</em></span></a></li>
      <li><a href="#"><span class="start"><em>&nbsp;</em></span>Mobile<span class="end"><em>&nbsp;</em></span></a></li>
    </ul>
  </section>
</article>