<article class="<%= random_colour %>">
  <aside class="post-type-author"></aside>
  <section>
    <header>
      <h1><a href="#">No posts are available</a></h1>
      <h6>Please check back later</h6>
    </header>
  </section>
</article>