<%= render 'tumbles/tumbles' %>
<article class="pager-holder">
	<section>
		<ul class="pagination">
			<li><%= link_to_previous_page @tumbles, raw('&laquo; Newer Posts') %></li>
			<li><%= link_to_next_page @tumbles, raw('Older Posts &raquo;') %></li>
		</ul>
	</section>
</article>