<%= render 'tumbles/tumbles' %>
<article class="">
  <nav class="pagination">
    <span class="prev"><%= link_to_previous_page @tumbles, 'Previous' %></span>
    <span class="next"><%= link_to_next_page @tumbles, 'Next' %></span>
  </nav>
</article>