<aside class="post-type-author">
  <ul>
    <li><a class="post-icon" href="#"><span class="entypo">&nbsp;</span></a></li>
    <li><span class="arrow left">&nbsp;</span></li>
    <li><a href="#" class="avatar"><%= image_tag user.photo, alt: user.blog_name, class: 'avatar' %></a></li>
  </ul>
</aside>