<section id="author-vcard">
  <%= image_tag user.photo, alt: user.blog_name %>
  <aside>
    <header>
      <h1><%= user.blog_name %></h1>
      <h3><%= user.description %></h3>
    </header>
  </aside>
</section><!--END AUTHOR VCARD-->