<section id="author-vcard">
  <%= image_tag user.photo, alt: user.blog_name %>
  <aside>
    <header>
      <h1><%= user.blog_name %></h1>
      <h3><%= user.description %></h3>
    </header>
    <p>Justin is the Senior Creative Developer at Norex. He is a self described font savant, HTML5 and CSS3 guru, gamer and dabbler in all things creative.</p>
  </aside>
</section><!--END AUTHOR VCARD-->