<section id="main-sidebar"> 
  <div class="container">
    <div class="block" id="main-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Norex</a></li>
        <li><a href="#">Case Studies</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#" class="orange">Norex.ca</a></li>
        <li><a href="#" class="twitter">@sitebynorex</a></li>
      </ul>
      <a href="#main-nav" class="menu-icon"><span class="entypo menu">i</span></a>
    </div><!--END NAV BLOCK-->
    <div class="block center">
      <a href="/"><%= image_tag('logo.png', alt: 'The Society of Online Engineers') %></a>
    </div><!--END LOGO BLOCK-->
    <div class="block search">
      <input name="" type="text">
    </div><!--END SEARCH BLOCK-->
    <div class="block types">
      <div id="type-knob">
        <ul class="circles">
          <li><a href="" title="" class="active" data-shown="true" data-post_type="photo"><span class="entypo photos">&nbsp;</span></a></li>
          <li><a href="" title="" class="active" data-shown="true" data-post_type="video"><span class="entypo videos">&nbsp;</span></a></li>
          <li><a href="" title="" class="active" data-shown="true" data-post_type="text"><span class="entypo blogs">&nbsp;</span></a></li>
          <li><a href="" title="" class="active" data-shown="true" data-post_type="misc"><span class="entypo misc">&nbsp;</span></a></li>
        </ul>
        <a href="#" id="centerbutton">
          <span class="light">&nbsp;</span>
          <h6>Post Types</h6>
        </a>
      </div><!--END KNOB-->
    </div><!--END TYPES BLOCK-->
    <%#= render 'tumblr_tags/sidebar_block' %>
    <%#= render 'tumblr_users/sidebar_block' %>
    <div class="block categories">
        <h2>Categories <a href="#">all</a></h2>
        <div class="divider dark">&nbsp;</div>
        <ul id="category-list">
          <li><a href="#" class="active">Survivor (3) <span class="light">&nbsp;</span></a></li>
          <li><a href="#" class="active">High Fives (6) <span class="light">&nbsp;</span></a></li>
          <li><a href="#" class="active">Launches (1) <span class="light">&nbsp;</span></a></li>
          <li><a href="#">Shout-outs (7) <span class="light">&nbsp;</span></a></li>
          <li><a href="#" class="active">Dress-up (4) <span class="light">&nbsp;</span></a></li>
          <li><a href="#">Non-Humans (18) <span class="light">&nbsp;</span></a></li>
          <li><a href="#">Mad Skillz (12) <span class="light">&nbsp;</span></a></li>
          <li><a href="#" class="active">Randoms (4) <span class="light">&nbsp;</span></a></li>
        </ul>
      </div><!--END CATEGORIES BLOCK-->
      <div class="block tags">
        <h2>Tags <a href="#">all</a></h2>
        <div class="divider dark">&nbsp;</div>
        <ul id="tags-list">
          <li><a href="#" class="active"><span class="knob"><span class="sheen"><span class="highlight">&nbsp;</span></span></span> Halifax</a></li>
          <li><a href="#"><span class="knob"><span class="sheen"><span class="highlight">&nbsp;</span></span></span> Design</a></li>
          <li><a href="#" class="active"><span class="knob"><span class="sheen"><span class="highlight">&nbsp;</span></span></span> Dev</a></li>
          <li><a href="#" class="active"><span class="knob"><span class="sheen"><span class="highlight">&nbsp;</span></span></span> Fun</a></li>
          <li><a href="#" class="active"><span class="knob"><span class="sheen"><span class="highlight">&nbsp;</span></span></span> Mobile</a></li>
          <li><a href="#"><span class="knob"><span class="sheen"><span class="highlight">&nbsp;</span></span></span> CSS</a></li>
          <li><a href="#" class="active"><span class="knob"><span class="sheen"><span class="highlight">&nbsp;</span></span></span> PM</a></li>
          <li><a href="#"><span class="knob"><span class="sheen"><span class="highlight">&nbsp;</span></span></span> Kitties</a></li>
          <li><a href="#" class="active"><span class="knob"><span class="sheen"><span class="highlight">&nbsp;</span></span></span> Launches</a></li>
        </ul>
      </div><!--END TAGS BLOCK-->
  </div><!--END CONTAINER-->
</section><!-- END MAIN SIDEBAR -->