<div class="block types">
  <div id="type-knob">
    <ul id="types-list" class="circles">
      <%= render 'shared/types_block_links' %>
    </ul>
    <a href="#" id="centerbutton">
      <span class="light">&nbsp;</span>
      <h6>Post Types</h6>
    </a>
  </div>
</div>